# requirements-dev.txt - Add your content here
ipykernel
python-dotenv
rich
selenium
bs4
requests
openai
langchain
langchain_core
langchain_community
langchain_experimental
langchain_openai
black
webdriver-manager
pytest
pytest-html
